@import url(../../appStyles.scss);



nav {

    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;

    .logo {
        width: 45px;
        height: 45px;
    }

    .header {
        font-size: 3rem;
        font-weight: bold;
        transform: translate(50%);
    }

    .navItems {
        font-size: 1.1rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        button {
            list-style: none;
            color: #141414;
            padding: 0.5rem 1.5rem;
            border-radius: 5px;
            background-color: #ffd700;
            background-color: #f4f4f4;

        }

        .login-btn {
            color: #141414;
            padding: 0.5rem 1.5rem;
            border-radius: 5px;
            background-color: #ffd700;

            &:hover {
                scale: 1.05;
            }
        }
    }
}